@page
@model IssuMgr.Web.Pages.Lbl.DeleteModel
@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h4>Eliminar Label?</h4>

<form asp-action="Delete">
    <dl class="table table-hover table-responsive">

        <dt>Id</dt>
        <dd>@Html.DisplayFor(i => Model.Lbl.LblId)</dd>
        <dt>Lbl</dt>
        <dd>@Html.DisplayFor(i => Model.Lbl.Lbl)</dd>
        <dt>BkClr</dt>
        <dd>#@Html.DisplayFor(i => Model.Lbl.BkClr)</dd>
        <dt>Clr</dt>
        <dd>#@Html.DisplayFor(i => Model.Lbl.Clr)</dd>
        <dt>Ej</dt>
        <dd><span style="background-color: #@Model.Lbl.BkClr;">@Model.Lbl</span></dd>
    </dl>
    <input type="hidden" name="LblId" value="Model.Lbl.LblId"/>
    <input type="submit" value="Confirmar" class="btn btn-default btn-delete" />
</form>